.rules {
  padding-bottom: var(--section-gap);

  &__container {
    display: flex;

    &:nth-child(1) {
      background-color: var(--primary-color);
      
      border-radius: 10px 10px 0 0;
      & img {
        border-top-right-radius: 10px;
      }
    }

    &:nth-child(2) {
      background-color: var(--tertiary-color);
      flex-flow: row-reverse;

      border-radius: 0 0 10px 10px;
      & img {
        border-bottom-left-radius: 10px;
      }
    }

    & img {
      width: 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    padding: 50px;

    &_items {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    & h2,
    p {
      color: var(--secondary-color);
    }

    & h2 {
      font-size: var(--h2-size);
      line-height: 140%;
    }

    & p {
      line-height: 180%;
    }
  }

  @media screen and (max-width: 1600px) {
    &__content {
      padding: 40px;
    }
  }

  @media screen and (max-width: 1400px) {
    &__content {
      padding: 30px;
    }
  }

  @media screen and (max-width: 1200px) {
    &__container {
      flex-direction: column-reverse !important;
      border-radius: 0 !important;

      & img {
        width: 100%;
        border-radius: 0 !important;
      }
    }

    &__content {
      padding: 20px;
    }
  }
}

.container {
  @media screen and (max-width: 1200px) {
    padding: 0;
  }
}
