.card {
  height: 707px;

  display: flex;
  align-items: end;

  border-radius: 10px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px;
    border-radius: 10px;

    background: linear-gradient(0deg, #0a0a0a 25.67%, rgba(10, 10, 10, 0) 100%);

    & h3,
    p {
      color: var(--secondary-color);
      line-height: 140%;
    }

    & h3 {
      font-size: var(--h3-size);

      max-width: 322px;
    }

    & p {
      font-size: var(--h5-size);
    }
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      background: url("/images/conditions/card-#{$i}.png");
      background-position: center;
      background-size: cover;
    }
  }

  @media screen and (max-width: 1000px) {
    height: 441px;

    & p {
      font-size: var(--h6-size);
    }

    &__content {
      padding: 20px;
      gap: 14px;
    }
  }
}
