.container {
  padding-bottom: 60px;

  display: flex;
  align-items: center;

  gap: 20px;

  & h2 {
    font-size: var(--h2-size);
  }
}

.left {
  justify-content: start;
}

.right {
  justify-content: end;
}
