.container {
  padding-bottom: var(--section-title-gap);

  display: flex;
  align-items: center;

  gap: 20px;

  & h2 {
    font-size: var(--h2-size);
  }

  @media screen and (max-width: 600px) {
    justify-content: center !important;
  }

  @media screen and (max-width: 420px) {
    gap: 14px;
  }
}
