.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  font-size: var(--h5-size);

  background-color: var(--primary-color);
  color: var(--secondary-color);

  border: none;
  border-radius: 10px;

  padding: 20px 50px;
  cursor: pointer;

  transition: 200ms all;

  &:hover {
    background-color: #1e2436;
  }

  &:disabled {
    cursor: not-allowed;
    filter: opacity(0.7);
  }
}
