.form {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input_container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 10px 24px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;

    & label {
      font-size: var(--small-size);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    font-size: var(--h5-size);

    background-color: var(--primary-color);
    color: var(--secondary-color);

    border: none;
    border-radius: 10px;

    padding: 20px 50px;
    cursor: pointer;

    transition: 200ms all;

    &:hover {
      opacity: 0.7;
    }
  }
}
