.aboutUs {
  display: flex;
  gap: 40px;

  padding-bottom: var(--section-gap);

  &__image {
    width: 45%;
    height: 45%;
    border-radius: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      font-size: var(--h1-size);
      text-transform: uppercase;
      line-height: 140%;
    }

    p {
      line-height: 180%;
    }

    &__typography {
      display: flex;
      flex-direction: column;
      gap: 22px;
    }
  }

  @media screen and (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;

    // &__image {
    //   width: 60%;
    // }

    &__content {
      align-items: center;
      // text-align: center;
      gap: 40px;

      &__typography {
        gap: 10px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    &__image {
      width: 100%;
    }
  }
}
