.form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 40px;

  padding-bottom: var(--section-gap);

  & img {
    width: 70%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h2 {
      font-size: var(--h2-size);
    }

    & p {
      font-size: var(--h4-size);
    }
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;

    &__container {
      text-align: center;
      align-items: center;
    }

    & img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
