@mixin underline {
  position: relative;
  text-decoration: none;
  width: fit-content;

  &::after {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: 0.4s;
  }

  &:hover::after {
    width: 100%;
  }
}

.header {
  padding: 30px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__anchors {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
      @include underline;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__phonenumber {
    font-size: 22px;
    font-family: "Inter";
    line-height: 180%;

    @include underline;
  }

  @media screen and (max-width: 1200px) {
    &__anchors {
      gap: 20px;
    }
  }

  @media screen and (max-width: 1000px) {
    padding-top: 20px;

    &__anchors,
    &__contacts {
      display: none;
    }
  }
}
