.modal {
  padding-inline: var(--section-padding);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(48, 55, 73, 0.35);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;

  &[data-open="closed"] {
    opacity: 0;
    display: none;
  }

  &[data-open="opened"] {
    opacity: 1;
    display: flex;
  }

  &__container {
    z-index: 20;
    border-radius: 10px;

    background-color: var(--secondary-color);
    padding: 80px 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;

    & p {
      font-size: var(--h5-size);
      font-weight: 500;
      line-height: 140%;
    }
  }

  &__title {
    font-size: var(--h2-size);
  }

  @media screen and (max-width: 768px) {
    &__container {
      padding: 30px;
    }
  }
}
