.moments {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding-bottom: var(--section-gap);

  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    padding: 100px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h2 {
      font-size: var(--h2-size);
    }

    & p {
      line-height: 180%;
    }

    & h2,
    p {
      color: var(--secondary-color);
    }
  }


  @media screen and (max-width: 1600px) {
    &__container {
      padding: 60px;
    }
  }

  @media screen and (max-width: 1400px) {
    display: flex;
    flex-direction: column;

    &__container {
      gap: 20px;
      align-items: center;
    }

    &__content {
      text-align: center;
    }
  }

  @media screen and (max-width: 800px) {
    &__container {
      padding: 24px;
    }
  }
}
