.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;

  padding-bottom: var(--section-gap);

  & img {
    flex: 1 0 calc(16% - 30px);
    width: 100%;
    height: auto;
    aspect-ratio: 76 / 100;
    object-fit: cover;
    display: block;

    border-radius: 10px;
  }

  @media screen and (max-width: 1024px) {
    gap: 20px;
  }

  @media screen and (max-width: 600px) {
    gap: 16px;

    & img {
      width: 140px;
      height: auto;
    }
  }
}
