.gallery {
  // display: grid;
  // grid-template-columns: repeat(6, 1fr);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 40px;

  padding-bottom: var(--section-gap);

  & img {
    border-radius: 10px;
  }

  // @media screen and (max-width: 1600px) {
  //   grid-template-columns: repeat(5, 1fr);
  //   gap: 20px;
  // }

  // @media screen and (max-width: 1400px) {
  //   grid-template-columns: repeat(4, 1fr);
  //   gap: 15px;
  // }

  @media screen and (max-width: 600px) {
    & img {
      width: 148px;
      height: 194px;
    }

    row-gap: 16px;;
  }
}
