@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #303749;
  --secondary-color: #fef9ed;

  // font sizes
  --h1-size: 74px;
  --h2-size: 44px;
  --h3-size: 30px;
  --h4-size: 26px;
  --h5-size: 22px;
  --h6-size: 18px;
  --small-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Raleway";
  font-size: var(--h6-size);
  color: var(--primary-color);
}

html {
  background-color: #fef9ed;
  scroll-behavior: smooth;
}
