:root {
  --primary-color: #303749;
  --secondary-color: #fef9ed;
  --tertiary-color: #6c943c;

  --h1-size: 72px;
  --h2-size: 44px;
  --h3-size: 30px;
  --h4-size: 26px;
  --h5-size: 22px;
  --h6-size: 18px;
  --small-size: 14px;

  --section-gap: 150px;
  --section-padding: 100px;
  --section-title-gap: 60px;

  @media screen and (max-width: 1600px) {
    --h1-size: 52px;
    --h2-size: 36px;
    --h3-size: 26px;
    --h4-size: 24px;
    --h5-size: 20px;
    --h6-size: 16px;
    --small-size: 14px;

    --section-gap: 100px;
    --section-title-gap: 50px;
    --section-padding: 80px;
  }

  @media screen and (max-width: 1200px) {
    --section-padding: 60px;
    --section-title-gap: 50px;
  }

  @media screen and (max-width: 600px) {
    --h1-size: 32px;
    --h2-size: 24px;
    --h3-size: 22px;
    --h4-size: 20px;
    --h5-size: 18px;
    --h6-size: 15px;
    --small-size: 12px;

    --section-title-gap: 30px;
    --section-padding: 40px;
    --section-gap: 90px;
  }

  @media screen and (max-width: 420px) {
    --h1-size: 26px;

    --section-padding: 24px;
    --section-gap: 80px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Raleway";
  font-size: var(--h6-size);
  color: var(--primary-color);
}

html {
  background-color: #fef9ed;
  scroll-behavior: smooth;
  scroll-padding: 20px;

  overflow-x: hidden;
}
